/* CSS file of To-Do List Project
 Project : Oasis Infobyte, Web Dev, Level 2 : Task 2
 Code by Ishwar Shrinivas Gujjarwar, dated 16th Feb, 2022
*/

.container {
    max-width: 960px;
  }
  .first{
    background-color: rgb(233, 187, 101);
    color: black;
  }
  .dea{
    color: orange;
    font-size: 25px;
  }

  .lastLine{
    color: orange;
    font-weight: 900;
    text-align: center;
    text-transform: uppercase;
    padding-bottom: 100px;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 50px;
  }
  .end{
    display: inline;
    text-align: center;
  }

  .resource{
    color: orange;
  }
  .footer {
    position: fixed;
    font-size: medium;
    left: 0;
    bottom: 0;
    width: 100%;
    color: rgb(252, 180, 26);
    background-color: rgb(4, 1, 51);
    text-align: center;
}
  /*
   * Extra utilities
   */
  
  .border-top { border-top: 1px solid #e5e5e5; }
  .border-bottom { border-bottom: 1px solid #e5e5e5; }
  
  .box-shadow { box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05); }
  
  .flex-equal > * {
    -ms-flex: 1;
    -webkit-box-flex: 1;
    flex: 1;
  }
  @media (min-width: 768px) {
    .flex-md-equal > * {
      -ms-flex: 1;
      -webkit-box-flex: 1;
      flex: 1;
    }
  }
  
  .overflow-hidden { overflow: hidden; }
  